*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.w-1140{
    width: 1140px;
    margin: auto;
}
.fw{
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    background-color: #EBEBEB;    
}
.ic1{
    width: 70%;
    color: #555;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
    word-spacing: 2px;
   
}
.txt{
    padding-left: 5px;
    color: #555;
    font-size: 16px;
}
.w-70{
    width: 70%;
}
.ic2 ,.ic3 ,.ic4{
    padding-right: 20px;
}
/* @media (min-width:1201px) {

} */
.logo{
    padding-top: 40px;
    width: 215px;  
    margin-left: 42px;  
}
.infobox{
    font-size: 15px;
    list-style: none;
    padding-top: 40px;
    padding-left: 220px;
    color: #555;
}
.Email{
    font-size: 15px;
    list-style: none;
    padding-top: 40px;
    padding-left: 40px;
    color: #555;
}